body {
  background-image: url(../images/clouds.jpg);
  background-size: contain;
}

.container {
  font-family: "New Tegomin", serif;
  border: solid 5px #000;
  border-radius: 30px;
  background-color: transparent;
  padding: 10px 10px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 16px #000;
  color: #ececec;
  text-shadow: 1px 1px 2px #000, 0 0 1em #c28b8f, 0 0 0.2em #c28b8f;
}

.searchCity,
.currentWeather .container {
  border: none;
  box-shadow: none;
  padding: 0 10px;
}

.top-image {
  width: 200px;
}

h1 {
  text-align: center;
  position: relative;
  bottom: 80px;
  left: 70px;
  line-height: 1.5px;
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
  color: #ececec;
  text-shadow: 1px 1px 2px #000, 0 0 1em #c28b8f, 0 0 0.2em #c28b8f;
  font-weight: 900;
}

#city-input {
  width: 275px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: 30px;
}

#city-input:focus {
  background-color: #fff !important;
}

.btn-search {
  font-size: 25px;
  background-color: #c28b8f;
  border: solid 3px #ececec;
  box-shadow: 5px 6px 8px #708098;
  text-shadow: #000 1px 0 10px;
  transition: all 1ms ease-in-out;
}

.btn-search:hover {
  background-color: #ececec;
  border: solid 3px #c28b8f;
  color: #c28b8f;
  text-shadow: none;
}

.btn-search:active,
:focus {
  background-color: #c28b8f !important;
  border: solid 3px #ececec !important;
  text-shadow: #000 1px 0 10px !important;
}

.btn-success {
  background-color: #c28b8f;
  border-color: #ececec;
}

.middle {
  position: relative;
  left: 290px;
  bottom: 25px;
}

.right {
  position: relative;
  left: 410px;
  bottom: 85px;
  padding: 5px 0;
}

.left1,
.middle1,
.left2 {
  font-size: 30px;
  font-weight: bolder;
}

.right1,
.right2 {
  font-size: 24px;
  font-weight: 600;
}

.left3,
.right3 {
  font-size: 26px;
  font-weight: bolder;
}

.left1,
.right1,
.left2,
.right2,
.left3,
.right3 {
  position: relative;
  bottom: 50px;
  text-align: center;
}

.left1,
.right1 {
  position: relative;
  bottom: 90px;
}

.tempNumber {
  font-size: 60px;
  position: relative;
  bottom: 80px;
  left: 35px;
}

.celsius {
  position: relative;
  bottom: 80px;
  left: 30px;
  font-size: 22px;
}

.currentWeather .active {
  color: #ececec;
  text-shadow: #000 1px 0 10px;
  cursor: default;
  text-decoration: none;
}

.currentWeather .active:hover {
  text-decoration: none;
}

.left2 {
  position: relative;
  left: 10px;
  text-transform: capitalize;
}

.middle2 {
  position: relative;
  bottom: 70px;
  left: 20px;
}

.left2,
.right2 {
  position: relative;
  bottom: 65px;
}

.mph,
.percentage {
  font-weight: 500;
}

.right1,
.right2,
.right3 {
  position: relative;
  right: 20px;
}

.hourly-forecast {
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: 40px;
  border-top: dashed 2px #708098;
  padding: 10px 0;
}

.hourly-forecast-hour {
  font-weight: 800;
}

.hourly-forecast-temperature {
  font-weight: 600;
}

.weather-forecast {
  text-align: center;
  position: relative;
  bottom: 20px;
  border-top: dashed 2px #708098;
  padding: 10px 0;
}

.weather-forecast-day {
  font-size: 20px;
  font-weight: 800;
}

.weather-forecast-temperature {
  font-size: 16px;
}

.weather-forecast-temperature-max {
  font-weight: 600;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
}

footer {
  text-align: center;
  opacity: 0.8;
}

.code-link {
  text-decoration: none;
}
